.todo-list{
    list-style-type: none;
    
    & > li{
        cursor: pointer;
    }
    & > li.completed{
        font-style: italic;
        color: blue;
        text-decoration: line-through;
    }
}