.login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #fff;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }

  .login-menu{
    display: flex;
    justify-content: right;
    align-items: center;
  }

  input {
    width: 60%;
    padding: 10px;
    margin: 10px 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #1E90FF;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-left: 10px;
  }

  .button-login{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  button:hover {
    background-color: #1874CD;
  }
  